<html ng-app="ficha">

<head>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="template/estilo.css" rel="stylesheet" />
    <title>Ficha Animal</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/fichaCrtl.js"></script>
    <script src="js/fichaService.js"></script>
    <script src="js/dao.js"></script>
    <script src="js/animalService.js"></script>
</head>

<body>
    <div class="container" ng-controller="fichaCrtl">
        <div class="page-header">
            <h1 class="title">{{title}}</h1>
        </div>
    </div>
    <div class="container">
        <form>
            <div class="form-group">
                <label>Pesquisar por id</label>
                <input type="text" class="form-control" placeholder="Id">
            </div>
            <div class="form-group">
                <label>Periodo de inicio</label>
                <input type="date" class="form-control">
            </div>
            <div class="form-group">
                <label>Periodo de fim</label>
                <input type="date" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
    <div class="container" ng-controller="fichaCrtl">
        <button ui-sref="" ng-click="showCadastro(true)" type="submit" class="btn btn-primary">
            Adicionar ficha
        </button>
        <div class="container" ng-show="isVisible">
            <form>
                <div class="form-group">
                    <label>identificador</label>
                    <input ng-model="ficha.identificador" type="text" class="form-control" placeholder="Id">
                </div>
                <div class="form-group">
                    <label>data</label>
                    <input  ng-model="ficha.dataDeCadastro" type="date" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-check-label">
                        <input ng-model="ficha.status" type="checkbox" class="form-check-input" name="optradio">Ativar
                    </label>
                </div>
                <div class="input-group">
                    <label>Observacao </label>
                    <textarea ng-model="ficha.Observacao" class="form-control" aria-label="With textarea"></textarea>
                </div>
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Id</th>
                                <th scope="col">Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="animal in animais">
                                <td>
                                    <input 
                                     type="checkbox" aria-label="Checkbox">
                                </td>
                                <td>
                                    <span ng-bind="animal.id"></span>
                                </td>
                                <td>
                                    <span ng-bind="animal.name"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button ng-click="cadastrarFicha(ficha)" type="submit" class="btn btn-primary">cadastrar</button>
                <button type="button" ng-click="showCadastro(false)" class="btn btn-danger btn-sm">Cancelar</button>

            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Data de cadastro</th>
                    <th scope="col">Status</th>
                    <th scope="col">Acoes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ficha in fichas">
                    <td>
                        <span ng-bind="ficha.identificador"></span>
                    </td>
                    <td>
                        <span ng-bind="ficha.dataDeCadastro | date: 'dd/MM/yyyy'"></span>
                    </td>
                    <td>
                        <span ng-bind="ficha.status"> </span>
                    </td>
                    <td>
                        <button type="button" ng-click="excluir(ficha)" class="btn btn-danger btn-sm">Excluir</button>
                        <button type="button" class="btn btn-secondary btn-sm">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>